.visitTripBtn:hover {
  cursor: pointer !important;
  color: #a62639 !important;
  background-color: #e3ebff !important;
  text-align: center !important;
}

.visitTripBtn {
  cursor: pointer !important;
  color: #e3ebff !important;
  background-color: #a62639 !important;
  text-align: center !important;
}

.tripTitle {
}
